@model PlatCategorieModel
@{
	ViewData["Title"] = "Plats";
}

<nav class="navbar navbar-expand-md navbar-light">
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="btn btn-info" asp-controller="Plat" asp-action="Create">Ajouter</a>
			</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item mr-auto">
				<form method="get">
					<select asp-for="Filtre">
						<option value="null">Toutes</option>
						@foreach (CategorieModel c in Model.Categories)
						{
							<option value="@c.Id">@c.Nom</option>
						}
					</select>
					<button class="btn btn-primary mb-2">Filtrer</button>
				</form>
			</li>
		</ul>
	</div>
</nav>

<table class="table">
	<thead>
		<tr class="text-xl-left bg-light">
			<th class="text-hide">
				Image
			</th>
			<th>
				Nom
			</th>
			<th>
				Prix
			</th>
			<th>
				Description
			</th>
			<th>
				Nom de Catégorie
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var plat in Model.Plats)
		{
			<tr>
				<td class="align-middle">
					<img src="/uploads/@(plat.Image ?? "PlaceHolder.png")" style="height: 3rem; width: auto" class="description" />
				</td>
				<td class="align-middle">
					@plat.Nom
				</td>
				<td class="align-middle">
					@plat.Prix
				</td>
				<td class="align-middle">
					@plat.Description
				</td>
				<td class="align-middle">
					@plat.Categorie.Nom
				</td>
				<td class="align-middle">
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@plat.Id">Éditer</a>
					<a class="btn btn-info" asp-action="Details" asp-route-id="@plat.Id">Détails</a>
					<a class="btn btn-danger deleteButton" asp-action="Delete" asp-route-id="@plat.Id">Supprimer</a>
				</td>
			</tr>
		}
	</tbody>
</table>
